* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f7fa;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 60px;
    background-color: #e9eef5;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    background-color: white;
}
nav ul  {
    list-style-type: none;
    overflow: hidden;
}
nav li {
    float: left;
    margin: 15px;
}
.contact {
    display: flex;
    gap: 40px;
    padding: 60px;
    color: #555;
}
.contact-left {
    flex: 1;
}
.contact-left h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.contact-left p {
    color: #555;
    margin-bottom: 30px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.card h3 {
    margin-bottom: 8px;
}
.contact-right {
    flex: 1;
}
.contact-right img {
    width: 100%;
    border-radius: 15px;
}
img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px){
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .contact {
        flex-direction: column;
        padding: 30px 20px;

    }
    .contact-left h2 {
        font-size: 30px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .contact-right img {
        margin-top: 30px;
    }
}
@media (min-width: 1024px) {
    .contact {
        padding: 80px;
    }
    .contact-left h2 {
        font-size: 42px;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}