body{
    align-items: center;
}
.div-1{
    background-color: #cccccc;
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat{
    width: 50px;
}
.nav-links{
    display: flex;
    gap: 12px;
}
.nav-links li{
    list-style-type: none;
}
.expert{
    font-size: 3rem;
    font-weight: bold;
}
button{
    border-radius: 19px;
    border-color: blue;
    padding: 10px;
    width: 7rem;
    background-color: #cccccc;
    cursor: pointer;
    font-size: 9px;
}
.page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-2{
    background-color: #f0f2f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 30px;
    
}

.search-box input{
    padding: 12px 40px 12px 15px;
    border-radius: 25px;
    border: 1px solid;
}
.section{
    display: flex;
    gap: 10px;
}
section{
    background-color:#ffffff ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 60px;
    border-radius: 5px;
}
section img{
    width:20px;
}


.div-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}
.phase-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.search{
    padding: 10px;
    display: flex;
    flex-direction: row;

}
.line{
    width: 2px;
}
.div-3 div{
    display: flex;
    flex-direction: column;
}
.images{
    width: 30px;
    gap: 20px;
}
.p-3{
    font-weight: bold;
}

.div-4{
    background-color: #e8eeff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 100vw;

}
.phase-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-top: 12px;
}
.item1,
.item2,
.item3{
    background-color:#ffffff;
    align-items: center;
    justify-content: center;
    padding: 6px;
    display: flex;
    flex-direction: column; 
    border-radius: 7px;
    line-height: 1.2;
    padding-top: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 2);
    font-size: 12px;
} 
.div-4 div{
    display: flex;
    align-items: center;
}
.div-4 img{
    width: 30px;
}
.div-4 button{
    background-color: #ffffff;
    cursor: pointer;
    font-size: 7px;
}


.div-5{
    background-color: #f0f2f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 100vw;
    
}
.div-5 h4{
    font-size: 12px;
}
.phase-5{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 26px;

}
.item-1,
.item-2,
.item-3{
    background-color: #ffffff;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 2);
    font-size: 8px;
    font-weight: bold;
}
.div-5 p{
    line-height: 0.05;
}
.div-5 button{
    background-color: #ffffff;
    width: 3.5rem;
    font-size: 7px;
}
.div-5 img{
    width: 40px;
}
.btn{
    display: flex;
    gap: 10px;
   padding: 6px;
    font-size: 7px;
    cursor: pointer;
    
}
button:hover{
    background-color: #1e4ed8;
    color: #ffffff;
}

.div-6{
    background-color: #1c416a;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100vw;
    padding: 10px;
}
.phase-6{
    display: flex;
    gap: 3rem;
}
.one,
.two{
    color: #9aabbd;
    gap: 1rem;
    line-height: 2.5;
    font-size: 12px;
}
footer ul li a{
    color: #ffffff;
    text-decoration: none;
}
footer ul li{
    list-style-type: none;
}