body{
    background-color: #f3f4f6;
}
.zaprun{
    display: flex;
    align-items:center;
    font-size: 25px;
}
.logo{
    width: 55px;
}
.name{
    color: #1b4068;
}
.main{
    background-color: #ffffff;
    padding: 60px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details{
    font-size: 12px;
}
input{
    background-color: #e8eeff;
    padding: 6px;
    border: 2px solid #cccccc;
    border-radius: 4px;
    width: 60vh;
}
button{
    background-color: blue;
    color: #ffffff;
    border-radius: 6px;
    border: 2px solid blue;
    width: 60vh;
    padding: 6px;
    cursor: pointer;
}
.part-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    gap: 10px;
}
.account{
    color: gold;
}
.signup-footer {
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
}

.terms-text {
  color: #888; /* Gray color */
  font-size: 12px;
  margin-bottom: 15px;
}

.terms-text a {
  color: #3f51b5; /* Blue color for links */
  text-decoration: none;
  font-weight: 500;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between box and text */
  color: #aaa;
  font-size: 13px;
}

/* Optional: styling the checkbox itself */
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
