body{
    background-color: #f3f4f6;
}
.zaprun{
    display: flex;
    align-items:center;
    font-size: 25px;
}
.logo{
    width: 55px;
}
.name{
    color: #1b4068;
}
.main{
    background-color: #ffffff;
    padding: 60px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details{
    font-size: 12px;
}
input{
    background-color: #e8eeff;
    padding: 6px;
    border: 2px solid #cccccc;
    border-radius: 4px;
    width: 60vh;
}
button{
    background-color: blue;
    color: #ffffff;
    border-radius: 6px;
    border: 2px solid blue;
    width: 60vh;
    padding: 6px;
    cursor: pointer;
}
.part-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    gap: 10px;
}
.account{
    color: gold;
}
